/* global */
* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
}
:root {
  --main-color: black;
  --hover-color: #2196f3;
  --font-family: "Roboto", sans-serif;
  --contact-color: #757575;
  --background-color: #2f303a;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* header */
.contact-box {
  display: flex;
}
.contact-icon {
  display: inline-flex;
  margin-right: 10px;
  fill: var(--contact-color);
  align-self: center;
}

.header-section {
  width: 1600px;
  border-bottom: solid #ececec 1px;
  padding: 24px 0 25px 0;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: calc(30.52 / 26);
  color: #000000;
  letter-spacing: 0.03em;
  padding-right: 93px;
}
.logo > span {
  color: #2196f3;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 15px;
}
.nav > a {
  display: block;
}
.nav-link:not(:last-child) {
  padding-right: 46px;
}

.contacts {
  display: flex;
}
.contact-box:not(:last-child) {
  margin-right: 30px;
}
.link:hover {
  color: var(--hover-color);
}
.contact-box:hover svg {
  fill: var(--hover-color);
}
.contact-box:hover a {
  color: var(--hover-color);
}
.link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16.41 / 14);
  color: var(--main-color);
  letter-spacing: 0.02em;
}
.contact {
  color: var(--contact-color);
  font-family: var(--font-family);
  font-weight: 500;
  line-height: calc(16.41 / 14);
  letter-spacing: 0.02em;
}

/* main  */
.main-header-section {
  background-color: var(--background-color);
  color: #ffffff;
  width: 1600px;
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 200px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/images/backgroundimg.jpg);
}

.h1 {
  padding: 0 15px;
}
.h1 > h1 {
  font-family: var(--font-family);
  font-size: 44px;
  font-weight: 900;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  padding-bottom: 30px;
}

.main-button {
  cursor: pointer;
  background-color: var(--hover-color);
  font-size: 16px;
  line-height: calc(30 / 16);
  font-weight: 700;
  font-family: var(--font-family);
  border-radius: 4px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  border: none;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
}
.post-section {
  width: 1600px;
  background-color: #ffffff;
}
.post-list {
  display: flex;
  padding: 94px 15px 0 15px;
}
.h3 {
  font-family: var(--font-family);
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16.41 / 14);
  color: #212121;
  padding-bottom: 10px;
}
.post:not(:last-child) {
  padding-right: 30px;
}
.post-text {
  color: var(--contact-color);
  font-size: 14px;
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.what-we-do-section {
  width: 1600px;
  background-color: #ffffff;
}
.what-we-do-section-box {
  padding: 0 15px 94px 15px;
}
.images-list {
  display: flex;
}
.img {
  display: block;
}
.img:not(:last-child) {
  padding-right: 30px;
}
.photo {
  display: block;
}

.team-list {
  display: flex;
  padding-bottom: 94px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: calc(42.19 / 36);
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 94px;
}
.our-team-section {
  background-color: #f5f4fa;
  width: 1600px;
}
.our-team {
  padding-left: 15px;
  padding-right: 15px;
}
.name {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(18.75 / 16);
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  padding-top: 30px;
}
.job {
  color: #757575;
  letter-spacing: 0.03em;
  line-height: calc(18.75 / 16);
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}
.crewmate-box {
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.crewmate-box:not(:last-child) {
  margin-right: 30px;
}
.personal-socialmedia {
  display: flex;
  justify-content: center;
}
.social-circle {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  padding: 12px;
}
.social-circle:not(:last-child) {
  margin-right: 10px;
  margin-bottom: 30px;
}
.social-circle:hover .social-logo {
  fill: #ffffff;
  cursor: pointer;
}
.social-circle:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}
.our-clients-section {
  width: 1600px;
  background-color: #ffffff;
}
.our-clients {
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}
.client-box {
  display: flex;
  border: solid #afb1b8 1px;
  border-radius: 4px;
  width: 172px;
  height: 92px;
  justify-content: center;
}
.client-box:not(:last-child) {
  margin-right: 30px;
}
.client-container {
  display: flex;
  width: 106px;
  height: 60px;
  justify-content: center;
  align-self: center;
}
.client-logo {
  display: flex;
  justify-content: center;
  align-self: center;
  fill: var(--contact-color);
}
.client-box:hover .client-logo {
  fill: var(--hover-color);
  cursor: pointer;
}
.client-box:hover {
  border: solid var(--hover-color) 1px;
  cursor: pointer;
}
/* footer */
.footer-section {
  background-color: var(--background-color);
  width: 1600px;
}
.footer {
  padding: 60px 15px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: calc(30.52 / 26);
  color: #ffffff;
  letter-spacing: 0.03em;
  padding-top: 60px;
}
.footer-logo > span {
  color: #2196f3;
}
.address {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: white;
  font-style: normal;
  padding-top: 20px;
}
.footer-link {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 60%);
  display: block;
  padding-top: 9px;
}
.footer-box {
  display: flex;
}
.footer-social-list {
  display: flex;
}
.footer-social-circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px;
}
.footer-social-logo {
  fill: #ffffff;
}
.footer-social-circle:hover .footer-social-logo {
  fill: #ffffff;
  cursor: pointer;
}
.footer-social-circle:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}
.footer-social-circle:not(:last-child) {
  margin-right: 10px;
}
.footer-column:not(:last-child) {
  padding-right: 70px;
}

.footer-column-title {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: calc(16.41 / 14);
  color: #ffffff;
  padding-bottom: 20px;
}

/* portfolio */
.button-section {
  width: 1600px;
}
.portfolio-section {
  width: 1600px;
}
.button:hover {
  background-color: var(--hover-color);
  color: #ffffff;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.08);
}
.button:active {
  background-color: var(--hover-color);
  color: #ffffff;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.08);
}
.buttons {
  padding: 94px 15px 50px 15px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
  background-color: #ffffff;
}
.button:not(:last-child) {
  margin-right: 8px;
}
.button {
  text-align: center;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  font-weight: 500;
  font-family: var(--font-family);
  color: black;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
}

.card {
  background-color: #ffffff;
}
.card:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.project:not(:last-child) {
  padding-right: 30px;
}

.project:nth-child(3n) {
  padding-right: 0;
}
.project-name {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: calc(36 / 18);
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #212121;
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
}
.project-type {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 20px;
  padding-left: 24px;
}
.project-border {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
}
.project-list-box {
  width: 1200px;
  justify-content: center;
  padding: 0 15px 94px 15px;
}
.project:nth-child(-n + 6) {
  padding-bottom: 30px;
}

/* icons */

.contact-icon {
  display: inline-flex;
  margin-right: 10px;
  fill: var(--contact-color);
  align-self: center;
  cursor: pointer;
}
.icon-background {
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.social-logo {
  fill: #afb1b8;
}
